<?xml version="1.0" encoding="UTF-8"?>
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->
<!--</beans>-->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msg.app.chat.ChatMapper">
    <select id="getMsg" parameterType="chatDTO">
        select * from chatDTO
    </select>

    <insert id="addMsg" parameterType="chatDTO">
        insert into chatDTO
        values(#{id},#{name},#{content})
    </insert>
</mapper>